img{
   position: relative;
   height : 400px;
   width : 400px; 
   padding : 10px 10px 10px 10px;
}

body{
    background-image: linear-gradient(to right,black,red);
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-image: linear-gradient(to right,black,red);
    
  }

*{
      color: aqua;
      font-family: Helvetica, Sans-Serif;
  }
  
li {
    float: left;
  }
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 28px 32px;
    text-decoration: none;
    font-size: 200%;
  }
  
  /* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: red;
  }

.main-gaara{
    width : 40%;
    height: 40%;
  }

button{
    background-image: linear-gradient(to right,red,orange);
    padding:20px 20px 20px 20px;
    margin-right: 30px;
    font-size: 30px;
    color: white;
    border-radius: 4px;
    border: none;
    width : 300px
}

button:hover{
    background-image: none;
    background-color:darkred;
    color: white;
    transform: scale(1.1);
    cursor: pointer;
}

#para-index{
    
    color: blanchedalmond;
    font-size: 30px;
}

p{
    font-size: 30px;
}

.vote{
    text-decoration: none;
    color: darkgreen;
}

.vote:hover{
    color:chocolate;
}

.i{
    margin-right: 20px;
    font-size: 30px;
}



.but{
    margin-left : 50px;
}

.votehelp{
    height: 500px;
    width: 700px;
}

@media screen and (max-width: 980px) {
    #para-index{
        font-size: 18px;
    }

    li{
        font-size: 18px;
    }

    p{
        font-size: 18px;
    }

    button{
        margin-top: 20px;
        padding: 10px 10px 10px 10px;
    }

    .main-gaara{
        width: 60%;
        height:60%;
    }

    img{
        height: 400px;
        width:400px;
    }

    .votehelp{
        height: 300px;
        width: 450px;
    }

    .i{
        font-size: 18px;
    }

    .but1{
        font-size: 18px;
        padding : 10px 10px 10px 10px;
    }

  }

  @media screen and (max-width: 720px) {
    #para-index{
        font-size: 10px;
    }

    li{
        font-size: 8px;
    }

    p{
        font-size: 10px;
    }

    button{
        margin-top: 15px;
        padding: 8px 8px 8px 8px;
    }

    .main-gaara{
        width: 60%;
        height:60%;
    }

    img{
        height: 300px;
        width:300px;
    }

    .votehelp{
        height: 270px;
        width: 400px;
    }

    .i{
        font-size: 15px;
    }

    .but1{
        font-size: 15px;
        padding : 8px 8px 8px 8px;
    }

  }